@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none !important;
 color: inherit;

}

ul{
  list-style: none;
  padding-left: 0 !important;
}


.image{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f0f4fc;
  padding: 60px;

}
.text{
  font-size: 18px;
 
}
.hight{
  height:45rem;
width: 30px;
}

.mb{
  margin-bottom: 5rem;
}
.width{
  width:72rem ;
}
.style{
  background: linear-gradient(rgba(13, 110, 253, 0.8), rgba(13, 110, 253, 0.2));
}

.font{
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color:  rgba(105, 111, 121, 1);
  font-size: 20px;
 
}
.font2{
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  color:  rgba(68,97,242,1);
  font-size: 24px;

}

.icon{
  color:  rgba(68,97,242,1);
}
.Icon{
  color: #fff;
}

.width{
  width: 11rem;

}
.margin{
  margin-top: 4.3rem;
}
.main-content {
  flex: 1;
  padding: 20px;

}
.user-avatar {
  width: 7rem;
  height: 10rem;
  border-radius: 50%;
}
.img{

  height: 3.5rem;
 
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-details {
  flex: 1;
  padding: 0 15px;
}
.logo {
  flex: 1;
  padding: 0 15px;
}

.mobile-header{
  display: none;
}
.header{
  display: none;
}


.button:hover {
  background-color: #2563eb; 
  padding: 9px 15px; 
  border-radius: 16px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  color: white;
  .icon{
    color: white;
  }

}

@media (max-width: 768px) {
  .display{
    display: none;
  }
  .mobile-header{
    display: flex;
  }
  .header.visible {
    display: block; 
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  width: 90%;
  max-width: 600px;
}


